@model MARS.Models.Entity.Sozlesmeler
@{
    ViewBag.Title = "SozlesmeEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sözleşme Ekle</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Sozlesmeler/SozlesmeIndex/">Sözleşmeler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Sözleşme Ekle</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<br />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Proje Oluşturun</h5>
                </div>
                <div class="ibox-content">
                    <form method="post">
                        <div class="form-group">
                            <label>Proje Kodu</label>
                            @Html.DropDownListFor(x => x.ProjeId, (List<SelectListItem>)ViewBag.dgr, "Lütfen Proje Seçiniz.", new { @class = "form-control", id = "proje" })
                            <br /><br />
                            <label>İdari</label>
                            @Html.TextBoxFor(x => x.Idari, new { @class = "form-control" })
                            <br />
                            <label>Yüklenici</label>
                            @Html.TextBoxFor(x => x.Yuklenici, new { @class = "form-control" })
                            <br />
                            <label>Alt Yüklenici</label>
                            @Html.TextBoxFor(x => x.AltYuklenici, new { @class = "form-control" })
                            <br />
                            <label>Tedarikiçi</label>
                            @Html.TextBoxFor(x => x.Tedarikciler, new { @class = "form-control" })
                            <br />
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white btn-sm" type="submit">Vazgeç</button>
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
            $(document).ready(function () {
                $('#proje').select2();
                allowClear: true
            });
    </script>



}

